{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{protocol}}://{{domain}}.com {% endblocktrans %}

{% trans "Please click the link below and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}




Thank You.
The YesorNoLIVE Team,

{% endautoescape %}
