{% extends 'general/homepage.html' %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load i18n %}

{% block welcome_message %}
{% endblock welcome_message %}

{% block home_page_messages %}
{% endblock home_page_messages %}

{% block homepage_djp %}
{% endblock homepage_djp %}

{% block trending %}
	<div class="container-fluid text-center">
		
		<a href="/"><img src="{% static 'img/ynllogo5.png' %}" class="img-fluid "></a>
		<br><br>
		<h2 style="text-align: center;">Congratulations</h2>
		<h5 style="text-align: center;">Password reset email sent </h5>
		<p style="margin-bottom:0;">{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
	  
		<div class="form-row justify-content-center">
		  <div class="col-12 col-md-5">
			
		  </div>
		</div>
	</div>

{% endblock trending %}

{% block imageVideo %}
{% endblock imageVideo %}

{% block moreEvntslist %}
{% endblock moreEvntslist %}

{% block customscripts %}
{% endblock customscripts %}

{% block footer %}
{% endblock footer %}

