{% extends 'general/homepage.html' %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load i18n %}

{% block welcome_message %}
{% endblock welcome_message %}

{% block home_page_messages %}
{% endblock home_page_messages %}

{% block homepage_djp %}
{% endblock homepage_djp %}

{% block trending %}
	<div class="container-fluid text-center">
		
		<a href="/"><img src="{% static 'img/ynllogo5.png' %}" class="img-fluid "></a>
		<br><br>
		
		<div class="form-row justify-content-center">
		  <div class="col-12 col-md-5">
			<div class="row">
					<div class="col-sm-12">
						<form action="" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<h2 style="text-align: center;">Congratulations</h2>
								<h5 style="text-align: center;">Your password has been set. </h5>
							</div>
							<p style="margin-bottom:0; text-align: center;">Click <a href ='/'>here</a> to log-in if you have not already done so.</p>
							<!--<div class="col-md-12">
								<input name="username" type="text" placeholder="E-mail">-->
								<!--<input name="password" id="password" type="password" placeholder="Password">-->
								
							<!--</div>--> <!-- end col -->

							<div class="col-md-12">
								<div class="col-md-12">
									<div class="col-md-12">
									
										<div class="form-group"> 
											<!--<div class="col-md-12">
												<button type="submit" class="btn btn-lg btn-color">Submit</button>
											</div>-->
										</div>
									</div>					
								</div>
							</div>
						</form>
						</div>
						
				   
					</div>
			</div> 
		  </div>
		</div>
	</div>

{% endblock trending %}

{% block imageVideo %}
{% endblock imageVideo %}

{% block moreEvntslist %}
{% endblock moreEvntslist %}

{% block customscripts %}
{% endblock customscripts %}

{% block footer %}
{% endblock footer %}