{% extends 'general/homepage.html' %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}

{% block welcome_message %}
{% endblock welcome_message %}

{% block home_page_messages %}
{% endblock home_page_messages %}

{% block homepage_djp %}
{% endblock homepage_djp %}

{% block trending %}
	<div class="container-fluid text-center">
		
		<a href="/"><img src="{% static 'img/ynllogo5.png' %}" class="img-fluid "></a>
		<br><br>
		<p><small class="text-muted">Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</small></p>
	  
		<div class="form-row justify-content-center">
		  <div class="col-12 col-md-5">
			<form action="" method="POST">
				{% csrf_token %}
			  <div class="form-group">
				<input name="email" type="text" class="form-control" id="email" placeholder="E-mail">
			  </div>
	  
			  <div class="form-group">
				<button type="submit" class="btn btn-success rounded-0">Reset Password</button>
			  </div>
			</form>
		  </div>
		</div>
	  </div>

{% endblock trending %}

{% block imageVideo %}
{% endblock imageVideo %}

{% block moreEvntslist %}
{% endblock moreEvntslist %}

{% block customscripts %}
{% endblock customscripts %}

{% block footer %}
{% endblock footer %}

    