<!--<div class="modal fade" id="bankinfo" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">-->
        <div class="modal-content" id="banking">
            <div class="modal-header" style="background-color: azure;">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    BANK INFORMATION
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="background-color: azure;">
				<p>This is your reference number:<b>{{ref}}</b></p>
                <p> Pls pay to <b>WEMA BANK:</b></p>
				<p>Account Name: <b>YesorNoLive.com</b></p>
				<p>Account Number: <b>0123456789</b></p>
				<p>Write your Last name and the reference number on the teller where it says Depositors name</p>
				<p> e.g CHIROMA-3xgM9pSUHBWifmWX</p>
        	</div>
        </div>
 <!--x-->
