<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event Decision</h4>
      </div>
      <div class="modal-body">
        <h5>
          {{event.bet_question}}
        </h5>
        <div>
          <form action="{% url 'ynladmin:event_decision' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <!--label class="control-label">Event Decision</label>-->
              {{ form.event_decision }}
            </div>
            <div class="hidden">
              <input type="text" name="event_id" value="{{event.id}}"/>
            </div>
            <button class = "pull-right"type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal"></button>-->
      </div>
    </div>

  </div>
</div>