                                <div id="replace" class="hidden">
                                    <div class="form-group">
                                        <label class="label-controller"> Total Jackpot for the week:</label><br>
                                        <input name="weekly_prize" value="{{total_amount}}">
                                   </div>
                                    <div class="form-group">
                                        <label class="label-controller"> Number of Winner(s) for the Week:</label><br>
                                        <input name="top_winner" >
                                   </div>
                                    <div class="form-group">
                                        <label class="label-controller"> Number of Consolation Winners:</label><br>
                                        <input name="consolation_winners">
                                   </div>
                                    <div class="form-group">
                                        <label class="label-controller"> Grand Prize for the week:</label><br>
                                        <input name="grand_prize">
                                   </div>
                                    <div class="form-group">
                                        <label class="label-controller"> Consolation Prize for the week:</label><br>
                                        <input name="consolation_prize">
                                   </div>
                                </div>