<div>
<h4>Game Details for Event {{pkg.event.event_id}}</h4>
<br>
<h5> Thank you for predicting on Yes or No Live.com. Find below the details of your prediction</h5>

    <p>First name : <span>{{pkg.user.user.first_name}}</span></p>
    <p>Last name : <span>{{pkg.user.user.last_name}}</span></p>
    <p>Game Question : <span>{{pkg.event.bet_question}}</span></p>
    <p>Date : <span>{{pkg.date}}</span></p>
    <p>Amount : <span>{{pkg.amount}}</span></p>
    <p>Your Play Choice : <span>{{pkg.choice}}</span></p>
</div>