<style>
     .shape_oval_red {
        display: block;
        height: 10px;
        width: 10px;
        line-height: 60px;

        -moz-border-radius: 30px;
        border-radius: 30px;

        background-color: red;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    .shape_oval_green {
        display: block;
        height: 10px;
        width: 10px;
        line-height: 60px;

        -moz-border-radius: 30px;
        border-radius: 30px;

        background-color: green;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    .shape_oval_orange {
        display: block;
        height: 10px;
        width: 10px;
        line-height: 60px;

        -moz-border-radius: 30px;
        border-radius: 30px;

        background-color: orange;
        color: white;
        text-align: center;
        font-size: 2em;
    }
 </style>