{% extends 'ynladmin/adminHome.html' %}
{% load staticfiles %}
{% load humanize %}
{% load custom_filters %}

{% block events_won %}
{% endblock events_won %}

{% block transactions %}


<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-6">
        <div class="white-box">
            <h3 class="box-title">TOTAL BBN GAMES</h3>
            <ul class="list-inline two-part">
                <li><i class="fa fa-users text-info"></i></li>
                <li class="text-right"><span style="font-size: 20px!important;" class="counter">
                {{total_bbn_events}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
        <div class="white-box">
            <h3 class="box-title">TOTAL AMOUNT STAKED</h3>
            <ul class="list-inline two-part">
                <li><i class="ti-wallet text-purple"></i></li>
                <li class="text-right"><span style="font-size: 20px!important;" class="counter">
                ₦{{total_bbn_amount_staked|floatformat:2|intcomma}}</span></li>
            </ul>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-4 col-xs-6">
        <div class="white-box">
            <h3 class="box-title">TOTAL STAKEHOLDERS AMOUNT</h3>
            <ul class="list-inline two-part">
                <li><i class="fa fa-trophy text-success"></i></li>
                <li class="text-right"><span style="font-size: 20px!important;"class="counter">₦{{total_amount_stakeholder|floatformat:2|intcomma}}</span></li>
            </ul>
        </div>
    </div>
</div>

	
<div class="col-md-12 view-events">
<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <!--<h3 style="margin:15px 0px 5px 0px;">

                % for msg in messages %}
                    <script>
                        function show_alert(){
                        var alert = '<p style="color:red;" class="text-{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</p>';
                        document.write(alert);
                        }
                        display = window.setTimeout(show_alert(), 1000);
                        window.clearTimeout(display);
                    </script>
                % endfor %}
            </h3>-->
            
            <h3 class="box-title">Game Play</h3>
            <div class="table-responsive">
                <table id="gameplayDatatable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Event ID</th>
                            <th>Event Title</th>
                            <th>End Date</th>
							<th>Total Players</th>
                            <th>Total Winners</th>
							<th>Total Losers</th>
                            <th>Total amount</th>
							<th>Total amount(Winners)</th>
							<th>Event Status</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a href='#' class="eventId" event_id="{{event.event_id}}">{{event.event_id}}</a></td>
                            <td>{{event.title}}</td>
                            <td>{{event.end_date|date:"SHORT_DATE_FORMAT"}}</td>
                            <td>{{event.counter}}</td>

                            {% if event.closed and event.decided %}
							<td>{{event.event_total_winners }}</td>
                            {% else %}
                            <td>0</td>
                            {% endif %}

							{% if event.closed and event.decided %}
							<td>{{event.event_total_losers }}</td>
							{% else %}
							<td>0</td>
                            {% endif %}

							{% if event.total_amt %}
                            <td>₦{{event.total_amt|floatformat:2|intcomma}}</td>
                            {% else %}<td>₦0.00</td>
                            {% endif %}

							{% if event.event_total_amount_won %}
							<td>₦{{event.event_total_amount_won|floatformat:2|intcomma}}</td>
                            {% else %}
                            <td>₦0.00</td>
                            {% endif %}

                            <td>{{event.event_status }}</td>
	                    </tr>
                    {% empty %}
                        <p>No Gameplay Record</p>
                    {% endfor %}  
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
</div>
	
{% endblock transactions %}

{% block modals %}

    
    <!--<div id="editModal" class="modal fade" role="dialog">
    </div>-->
    
    <div class="modal fade" id="eventPlayers" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="event_players">
        </div>
    </div>
</div>

{% endblock modals %}
