{% load custom_filters %}

<!-- Modal content-->
<div class="modal-content" id="user_old_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{title}} for {{date}}</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Daily Jackpot Entries</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_obj %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.useraccount.phone_number}}</td>
                    <td>{% getDjpCount user.useraccount date %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

 